.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    margin: 20px auto 0;
}

.navbar hr {
    margin: 5px auto 0;
    width: 50px;
    height: 2px;
    border: none;
    background-color: darkgoldenrod;
    border-radius: 8px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: darkgoldenrod;
    margin: 30px auto 0;
}

.navbar li {
    cursor: pointer;
}